        table {
            margin-top: 15px;
            border-collapse: collapse;
            border: 1px solid #aaa;
            width: 100%;
        }

        table tr:nth-child(1) th {
            vertical-align: baseline;
            padding: 5px 15px 5px 6px;
            background-color: #3F3F3F;
            border: 1px solid #3F3F3F;
            text-align: center;
            color: #fff;
        }

        table tr td,th {
            vertical-align: center;
            padding: 6px 15px 6px 6px;
            border: 1px solid #aaa;
            text-align: center;
        }

        table tr:nth-child(odd) {
            background-color: #F5F5F5;
        }

        table tr:nth-child(even) {
            background-color: #fff;
        }
        /* 覆盖之前的样式 */
        table tr th[rowspan]{
            background-color: white;
        }


        legend {
            background-color: #000;
            color: #fff;
            padding: 3px 6px;
        }

        input {
            margin: .4rem;
        }

        .col {
            float: left;
            margin-left: 3rem;
        }
        /* 图表样式 */
        #chart-wrapper {
           margin: 20px auto;
           overflow: hidden;
        }
        /* svg样式 */
        #bar_svg,#canvas {
            float: left;
            margin-left: 30px;
        }
        /*按钮样式*/
        #button-wrapper {
            text-align: center;
        }
        /*鼠标移入显示可编辑*/
        #table-wrapper>table th,td{
            box-sizing: border-box;
            width: 100px;
        }
        #table-wrapper>table td:hover::after{
            content: "双击编辑";
            font: 300 12px "微软雅黑";
            color: rgba(30, 44, 213, 0.8);
            margin-left: 3px;
        }
        #table-wrapper>table td>input{
            width: 40px;
        }
        #table-wrapper>table td button{
            font: 300 10px "微软雅黑";
            width: 25px;
        }